body {
    background-color: yellow;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left {
    background-color: red;
}

.form {
    background-color: orange;
}

h1 {
    background-color: blanchedalmond;
}

.form {
    display: none;
}

.right {
    background-color: green;
}

.content {
    background-color: yellowgreen;
    padding: 10px;
}

.content > div {
    background-color: beige;
    margin-bottom: 10px;
}